.container{
    display: flex;
    flex-direction: column;
}

.listContainer{
    display: flex;
}


li{
    position: relative;
    list-style: none;
    text-decoration: none;
}
li::before{
    content: url('assets/default.svg');
    width: 5px;
    height: 5px;
}

.Checked{
    list-style: none;
    text-decoration: line-through;
}

.Checked::before{
    content: url('assets/checked.svg');
    width: 5px;
    height: 5px;
}

li span{
    padding: 10px;
    border-radius: 100px;
    position: absolute;
    left: 300px;
    background-color: white;
}

li span:hover{
    background-color: aliceblue;
}